    <footer>
        <div class="container">
            <h1 class="footer-title" style="color: #4dd1ce;">PARKCOPE</h1>
            <div class="social">
                <a href="https://es-la.facebook.com/Parkcope/"><i class="fa fa-facebook fa-2x"></i></a>
                <a href="https://twitter.com/parkcope"><i class="fa fa-twitter fa-2x"></i></a>
            </div>
            <h6>&copy; {{ getAnio }} PARKCOPE S.A. de C.V.</h6>
            <span>
                <a href="#">Aviso de privacidad</a>
                <br>
                <a href="#">Términos y Condiciones</a>
            </span>
        </div>
    </footer>
</body>

<script src="/scripts/jquery/dist/jquery.js "></script>
<script src="assest/js/jquery.easing.min.js"></script>
<script src="/scripts/bootstrap/dist/js/bootstrap.js "></script>
<script src="assest/plugins/owl-carousel/owl.carousel.min.js"></script>
<script src="assest/js/app.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEE2dXHM7xv7hXDs2BPsoWFmi2buoKIWU" type="text/javascript"></script>

</html>