<section class="main-header" style="width: 100%">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="row border-navbar">
            <div class="container">
                <div class="navbar-header" style="width:15%">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <a class="navbar-brand img-responsive logo-parkcope" href="/">
                    <img src="assest/img/logo-parkcope-web.png" alt="logo " style="width: 100px ">
                </a>
                <div class="collapse navbar-collapse text-center " id="bs-example-navbar-collapse-1">
                    <label style="color: white; margin-right: 10px; " id="usuario "></label>
                    <div class="col-md-8 col-xs-12 nav-wrap " style="width:80% ">
                        <ul class="nav navbar-nav ">
                            <li><a href="#video " class="page-scroll ">Inicio</a></li>
                            <li><a href="#services " class="page-scroll ">Servicios</a></li>
                            <li><a href="#portfolio " class="page-scroll ">Socios</a></li>
                            <li><a href="#users " class="page-scroll ">Usuarios</a></li>
                            <li><a href="#team " class="page-scroll ">Quienes Somos</a></li>
                            <li><a href="#contact " class="page-scroll ">Contacto</a></li>
                            <li><a href="/register " class="page-scroll ">Regístrate</a></li>
                            <li><a class="page-scroll " href="# " data-toggle="modal " data-target="#modalForm ">Iniciar Sesión</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</section>