{{> header}}

<body>
    {{> navbar }}
    <div class="row">
        <section class="carr-section">
            <div id="owl-hero" class="owl-carousel owl-theme">
                <div class="item" style="width: 100%">
                    <img src="assest/img/sliders/banner2.png" alt="" style="max-height:100%;width:100%;">
                </div>
                <div class="item" style="width: 100%">
                    <img src="assest/img/sliders/banner3.png" alt="" style="max-height:100%;width:100%;">
                </div>
            </div>
        </section>
    </div>
    <section id="team">
        <div class="container">
            <h2>¿Quiénes somos?</h2>
            <hr class="sep" style="border: 2px solid #4dd1ce;">
            <p>{{ titulo }}</p>
            <p>Es la primera aplicación móvil que ofrece una solución integral para la administración de estacionamientos. El objetivo de la aplicación es facilitar la búsqueda, el pago, y el uso en general de cualquier tipo de estacionamiento, ahorrando
                tiempo y dinero a nuestros usuarios.</p>
            <p>Sectores a los que atiende nuestra aplicación:</p>
            <p>Estacionamientos Públicos, Privados y Parquímetros</p>
            <p>Parkcope busca minimizar los tiempos de búsqueda de estacionamiento y filas de espera para realizar pagos, todo desde un dispositivo móvil.</p>

        </div>
    </section>
    <section id="services">
        <div class="container">
            <h2>Nuestros Servicios</h2>
            <hr class="sep" style="border: 2px solid #4dd1ce;">
            <p>Somos la primera aplicación con servicios integrales de estacionamiento en el mundo</p>
            <div class="services-box">
                <div class="row " data-wow-delay=".3s">
                    <div class="col-md-4" style="font-size:36px;color:white">
                        <div class="media-left">
                            <span class="icon-lightbulb" style="color: #4dd1ce !important;"></span>
                        </div>
                        <div class="media-body">
                            <h3>Localiza</h3>
                        </div>
                    </div>

                    <div class="col-md-4" style="font-size:36px;color:white">
                        <div class="media-left"><span class="icon-mobile" style="color: #4dd1ce !important;"></span></div>
                        <div class="media-body">
                            <h3>Reserva</h3>
                        </div>

                    </div>
                    <div class="col-md-4" style="font-size:36px;color:white">
                        <div class="media-left"><span class="icon-compass" style="color: #4dd1ce !important;"></span></div>
                        <div class="media-body">
                            <h3>Paga con Tarjeta</h3>
                        </div>

                    </div>
                </div>

                <div class="row" data-wow-delay=".6s">
                    <div class="col-md-3 mobile-delete" style="font-size:36px;color:white">

                    </div>
                    <div class="col-md-3" style="font-size:36px;color:white">
                        <div class="media-left"><span class="icon-adjustments" style="color: #4dd1ce !important;"></span></div>
                        <div class="media-body">
                            <h3>Consulta horarios</h3>
                        </div>
                    </div>
                    <div class="col-md-3" style="font-size:36px;color:white">
                        <div class="media-left"><span class="icon-tools" style="color: #4dd1ce !important;"></span></div>
                        <div class="media-body">
                            <h3>Califica establecimientos</h3>
                        </div>

                    </div>
                    <div class="col-md-3 mobile-delete" style="font-size:36px;color:white">
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <section id="portfolio" style="padding: 0px;">
        <section id="work-process">
            <div class="container">
                <h2>Socios</h2>
                <hr class="sep" style="border: 2px solid #4dd1ce;">
                <p>Mediante el trabajo en colaboración, nuestro objetivo consiste siempre en crear servicios innovadores. La colaboración entre Parkcope y sus socios comerciales proporciona a nuestros clientes servicios y soluciones de alta calidad.</p>
                <p>¡Únete a Parkcope y disfruta todos sus beneficios!</p>
                <div class="row " data-wow-delay=".3s">
                    <div class="col-lg-4">
                        <span class="glyphicon glyphicon-link" style="color: #4dd1ce !important;"></span>
                        <p>1.- Afiliación gratuita por lanzamiento</p>
                    </div>
                    <div class="col-lg-4">
                        <span class="glyphicon glyphicon-log-in" style="color: #4dd1ce !important;"></span>
                        <p>2.- Integración gratuita de sistemas de administración con PARKCOPE</p>
                    </div>
                    <div class="col-lg-4">
                        <span class="glyphicon glyphicon-equalizer" style="color: #4dd1ce !important;"></span>
                        <p>4.- Acceso a dashboard administrativo para control de ingresos, demanda, horarios, historial de servicio, etc</p>
                    </div>
                    <div class="col-lg-3 mobile-delete">
                    </div>
                    <div class="col-lg-3">
                        <span class="glyphicon glyphicon-list-alt" style="color: #4dd1ce !important;"></span>
                        <p>5.- Facturación electrónica desde PARKCOPE para sus usuarios</p>
                    </div>
                    <div class="col-lg-3">
                        <span class="glyphicon glyphicon-hdd" style="color: #4dd1ce !important;"></span>
                        <p>6.- Acceso a nuestra base de datos para publicidad, a través de: sitio web, newsletters, mailings, redes sociales, etc.</p>
                    </div>
                </div>
                <p>Regístrate aquí como nuevo socio:</p>
                <a class="btn btn-transparent" style="background-color:#24242a" href="/register">Regístrate</a>
            </div>
        </section>

        <section id="users">
            <div class="container">
                <h2>Usuarios </h2>
                <hr class="sep" style="border: 2px solid #4dd1ce;">

                <div class="row " data-wow-delay=".3s">
                    <div class="col-lg-3">
                        <span class="glyphicon glyphicon-time" style="color: #4dd1ce !important;"></span>
                        <h5 style="color:white">Consulta los horarios de trabajo de los estacionamientos públicos.</h5>
                    </div>
                    <div class="col-lg-3">
                        <span class="glyphicon glyphicon-exclamation-sign" style="color: #4dd1ce !important;"></span>
                        <h5 style="color:white">Genera alertas con tiempo para recargar la cuota de parquímetro.</h5>
                    </div>
                    <div class="col-lg-3">
                        <span class="glyphicon glyphicon-bullhorn" style="color: #4dd1ce !important;"></span>
                        <h5 style="color:white">Recomienda a los establecimientos afiliados</h5>
                    </div>
                    <div class="col-lg-3">
                        <span class="glyphicon glyphicon-map-marker" style="color: #4dd1ce !important;"></span>
                        <h5 style="color:white">Encuentra fácilmente donde estacionaste tu auto.</h5>
                    </div>
                </div>
                <div class="row " data-wow-delay=".3s">
                    <div class="col-lg-4">
                        <span class="glyphicon glyphicon-credit-card" style="color: #4dd1ce !important;"></span>
                        <h5 style="color:white">Paga la cuota de tu estacionamiento con tarjeta de crédito</h5>
                    </div>
                    <div class="col-lg-4">
                        <span class="glyphicon glyphicon-screenshot" style="color: #4dd1ce !important;"></span>
                        <h5 style="color:white">Búsqueda de estacionamientos por ubicación</h5>
                    </div>
                    <div class="col-lg-4">
                        <span class="glyphicon glyphicon-check" style="color: #4dd1ce !important;"></span>
                        <h5 style="color:white">Reserva tu lugar de estacionamiento preferido.</h5>
                    </div>
                </div>
            </div>
        </section>
    </section>

    <section id="video">
        <video autoplay="" loop="" muted="" style="width:100%;height:100%;">
            <source src="assest/video/parkcope.mp4" type="video/mp4">
          </video>
    </section>

    <section id="welcome" style="width: 100%">
        <div class="container">
            <h2>Bienvenidos a <span>Parkcope</span></h2>
            <hr class="sep" style="border: 2px solid #4dd1ce;">
            <p>Descarga nuestra app en:</p>
            <a href="https://play.google.com/store/apps/details?id=com.totaltech.parkcope" target="_blank">
                <img class=" center-block wow fadeInUp" data-wow-delay=".3s" src="assest/img/play.png" alt="logo" style="max-width:300px;">
            </a>
            <a href="https://appsto.re/mx/H2igib.i" target="_blank">
                <img class="center-block wow fadeInUp" data-wow-delay=".3s" src="assest/img/appstore.png" alt="logo" style="max-width:300px;">
            </a>
        </div>
    </section>

    <div id="map"></div>

    <section id="contact">
        <div class="container">
            <h2>Contacto</h2>
            <hr class="sep" style="border: 2px solid #4dd1ce;">
            <div class="col-md-6 col-md-offset-3 wow fadeInUp" data-wow-delay=".3s">
                <form method="post" action="">
                    <div class="form-group">
                        <input type="text" class="form-control" id="Name" name="name" placeholder="Nombre">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="Email" name="email" placeholder="Correo">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="3" name="message" placeholder="Mensaje"></textarea>
                    </div>
                    <button type="submit" class="btn-block" disabled>Enviar</button>
                </form>
            </div>
        </div>
    </section>

{{> footer}}