{{> header}}
<section id="register">
        <br/>
        <div class="container">
            <form>
                <h2>REGISTRO</h2>
                <hr class="light-sep">
                <p>CUENTA SOCIO</p>
                <div class="services-box">
                    <div id="registroSocio">
                        <div class="container">
                            <div class="col-md-6 col-md-offset-3  wow fadeInUp" data-wow-delay=".3s">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="Nombre" class="color_label">Nombre</label>
                                            <input type="text" class="form-control" id="inpNombre" name="inpNombre" placeholder="Nombre" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="apellido_Paterno" class="color_label">Apellido Paterno</label>
                                            <input type="text" class="form-control" id="inpApellido_p" name="inpApellido_p" placeholder="Apellido Paterno" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="apellido_materno" class="color_label">Apellido materno</label>
                                            <input type="text" class="form-control" id="inpApellido_m" name="inpApellido_m" placeholder="Apellido Materno" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="usuario" class="color_label">usuario </label>
                                            <input type="email" class="form-control" id="inpEmail" name="inpEmail" placeholder="usuario" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="Telefono" class="color_label">Telefono </label>
                                            <input type="tel" class="form-control" id="inpTelefono" name="inpTelefono" placeholder="Telefono" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="contrasenia" class="color_label">Contraseña</label>
                                            <input type="password" class="form-control" id="inpContrasenia" name="inpContrasenia" placeholder="Contraseña" required>
                                        </div>
                                    </div>
                                </div>
                                <br/>
                                <button class="btn btn-lg btn-primary" id="insertUserCognito" style="width:100%">Registrarse</button>
                                <br/>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </section>
{{> footer}}